@import './antd.css';
@import './fonts/vazir.css';

#app {
  display: flex;
  flex-direction: column;
  flex:1;
  width: 100%;
  height: 100%;;
}

.app {
  text-align: center;
}

* {
   font-family: Vazir, Tahoma;
}

aside div.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

footer.ant-layout-footer.copyright {
  background-color: transparent;
  color: white;
}

footer.ant-layout-footer.copyright > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.85;
}

div#footer-links>button {
  margin-right: 3px;
}

div#footer-links>button:first-of-type {
  margin-right: 10px;
}

footer img.logo {
  width: 28px;
  margin-left: 3px;
}

#login-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: "100%";
  min-height: "100%";
}

.center-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#login-blur {
  width: 300px;
  height: 310px;
  background-image: url('./images/background.png');
  position: absolute;
  top: 85px;
  left: 254px;
  border-radius: 23px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

section#backup_page {
  background-image: url('./images/blur-background.jpg');
  background-size: 800px 600px;
}

section#backup_page > section {
  background: none;
  opacity: 0.85;
}


form#login {
  width: 250px;
  /* background-color: rgba(255, 255, 255, 0.3 ); */
}

form#login input {
  direction: ltr;
}


